.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.blockpad-container {
  width: 50%;
  background-color: #f0f0f0; /* You can set a background if needed */
}

.canvas-container {
  width: 50%;
  float: right;
}
